<!-- ng g c generatedcomp-->
<div class="container-fluid" >
  <div class= "row-sm-5">
    <nav></nav>
  </div>
  <div class= "row-sm-4" style="background-color: turquoise; padding: 10px; margin-top: 10px">
    <app-form-component></app-form-component>
  </div>

  <div class = "row-sm-4" style="background-color: grey; text-align: center; margin-top: 10px">
    <footers></footers>
  </div>
</div>

<!--
<div class="container-fluid">
  <div class="nav-container">
      <h1>This is the navigation container</h1>
  </div>

  <div class="form-container">




  </div>

  <div class="footer-container">
      <h1> This is the footer container </h1>
  </div>
  -->


<!-- This was the demo of containers
  <div class = "row">
    <div class= "col-sm-4" style="background-color: lavender">
      <h1> This is my manually created component </h1>
      <h1> Hello world {{name}}</h1>
    </div>

    <div class= "col-sm-4" style="background-color: grey">
      <app-generated-comp> </app-generated-comp>
    </div>
  </div>
  -->
